button {
  border: none;
  border-radius: .25em;
  padding: 1% 2%;
}
button a {
  font-size: .8em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
video {
  display: none;
  width: 100%;
}
h2 {
  display: none;
}

/******   logo ********/

.widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/**Header__Logo and Logo img LL made changes **/

.header__logo {
  margin-bottom: 1%;
}
.header__logo img {
  width: 350px;
  display: block;
  margin: 0 auto;
}

/****** search and email input ********/

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 5%;
}
.search__input {
  width: 75%;
  margin-right: .7em;
  color: crimson;
  padding: 2%;
}
.email__input {
  width: 75%;
  margin-right: .7em;
  border: 1px solid silver;
  padding: 2%;
}

/** button icon style **/

.fontawesome-search,
.fontawesome-envelope {
  font-size: 1.5em;
  color: crimson;
  background-color: transparent;
}

/******   NAVIGATION   ********/

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
nav ul {
  list-style-type: none;
  flex-direction: column;
  }
nav li {
  padding-left: 10%;
  font-size: 1.25em;
}
nav a {
  padding: 0 15%;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
time {
  color: gray;
}
.blog-post {
  margin-bottom: 1%;
  padding: 3%;
  border: 1px solid silver;
  background-color: white;
}
.blog-post h1 {
  color: black;
}
.blog-img img{
display: block;
width: 150px;
margin: 0 auto;
left: calc(100% - 100px/2);
}
.blog-post figcaption {
  font-size: 9px;
  text-align: center;
}

/**** NEW post button ****/

.post-btn {
  margin: 1% 2%;
  background-color: crimson;
}
.post-btn a {
  color: white;
}

/**** NEW post button ****/

.media  h2 {
  padding-left: 2%;
}
.comments {
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  border: 1px solid silver;
  padding: 1em;
}
.comments-img {
  min-width: 80px;
  height: 80px;
  margin-right: 2%;
  border: 1px solid silver;
}
.comments-display {
  padding-bottom: 1%;
  font-size: .7em;
  font-style: light;
}
.comments h5 {
font-size: .7em;
color: crimson;
}
.comments-response li {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.comments-response a {
  color: black;
  text-decoration: none;
}
aside {
  padding: 0 1%;
}
footer {
  background-color: gray;
  width: 100%;
}
footer a {
  color: white;
  text-decoration: none;
}
footer li {
  text-align: center;
  width: 100%;
  margin: 1% 2%;
  display: block;
}
footer aside {
  text-align: center;
}

@media only screen and (min-width: 480px) {

  video {
    display: inline-block;
  }
  h2 {
    display: inline-block;
  }
  figure {
    padding-left: 3%;
    float: right;
    margin: 1% auto;
    left: calc(100% - 100px/2);
  }
  footer {
    background-color: gray;
    width: 100%;
  }
  footer ul {
    margin: 1% ;
  }
  footer li {
    margin: 1% 2%;
    display: inline;
  }
  footer aside {
    text-align: right;
    padding-top: .5%;
  }
  nav {
    display: flex;
    justify-content: center;
  }
  nav a {
    padding: 0 5%;
    color: black;
    text-transform: uppercase;
  }
  nav ul {
    display: flex;
    flex-direction: row;
  }
  nav li {
    align-content: space-between;
    justify-content: center;
    display: inline-block;
    padding: 0 2%;
  }
}
