button {
  color: white;
  background-color: red;
  border-radius: 15px;
  padding: 1.5% 2%;
}
button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.widget {
  background-color: white;
}
.widget h1 {
  color: black;
  padding-left: 2%;
}
.post {
  background-color: white;
  margin-left: 2%;
}
.post h1 {
  color: black;
}
.post time {
  padding-left: 2%;
}
.post p {
  margin-left: 2%;
}
.post figure {
  float: right;
}
.post figcaption {
  font-size: 9px;
  text-align: center;
}
.post button {
  margin: 1% 2%;
}
.subpost {
  background-color: white;
  width: 96%;
  margin: 2% calc(50% - 48%);
  padding: 2% 0;
}
.subpost h2 {
  padding-left: 2%;
}
video {
  width: 100%;
}
footer ul {
  display: inline-block;
  margin-left: 6%;
}
footer li {
  display: inline-block;
  padding-left: 1%;
}
footer aside {
  /*display: inline-block;*/
  background-color: gray;
  float: right;
  margin-top: 1%;
  margin-right: 5%;
}
nav {

}
a {

}
p {

}
h1 {

}
h2 {

}
h3 {

}
article {
  width: 96%;
  margin: 2% calc(50% - 48%);
  padding: 1% 0;
}
section {
  width: 100%;
}


/**** Loann Code ****/
*{
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
-ms-box-sizing:border-box;
box-sizing:border-box}

/******   BASE STYLES  ********/

body {
font-family: 'Oswald', sans-serif;
}

a, a:visited {
  text-decoration: underline;
}

a:hover, a.on {
  color: red;
  text-decoration: underline;
}
}

/******   HEADER  ********/

.widget {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.widget__img {
  width: 350px;
  display: block;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 39.04%;
  margin: 5% 5%;
}

.widget__input {
  padding: 0 5%;
  width:200px;
  border: 1px solid gray;
}

.widget__input--btn {

}

/******   NAVIGATION   ********/

.widget-nav {
  margin: 0 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav a {
  padding: 0 5%;
  flex-basis: auto;
  flex-grow: 1;
  color:black;
  text-transform: uppercase;
  text-decoration: none;
}

/****** BLOG POSTS  ********/

.article-roll {
  display:block;
  background-color: blue;
}

.article-roll__blog-post {
  font-style: normal;

}
.article-roll__blog-post img {

}

/******   ASIDES  ********/

.media {
display: inline-block;

}

.twitter-timeline {
display: inline-block;
}

.video {
display: inline-block;
}


/*  GRID OF EIGHT  */

.span_3_of_5 {
    width: 55%;
}
.span_2_of_5 {
    width: 38%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
}

@media only screen and (max-width: 480px) {

  .span_8_of_8 {
    width: 100%;
  }
  .span_5_of_8 {
    width: 100%;
  }
  .span_3_of_8 {
    width: 100%;
  }
}
